{% load static %}
<!doctype html>
<html lang="ja">
<body>
  <div class="login_form">
    <h1>ログイン画面</h1>
    <h2>ログインしたいユーザー情報を入力してください</h2>
    <form action="{% url 'login' %}" method="post" class="form_create">
      <div class="input">
        {% if form.non_field_errors %}
        <div class="header">エラー</div>
        <ul class="list">
          {% for non_field_error in form.non_field_errors %}
          <li>{{ non_field_error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% for field in form %}
        <div class="input_field">
          <div class="field_item">{{ field }}</div>
          {% if field.errors %}
          <p class="field_error">{{ field.errors.0 }}</p>
          {% endif %}
        </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="user_button">ユーザー登録</button>
      </div>
    </form>
  </div>
</body>
</html>
