{% load static %}

<!doctype html>
<html lang="ja">
  <!-- stripe決裁用に以下のJSを埋め込み -->
<head>
  <meta charset="utf-8">
  <title>Plus IT</title>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'script.js' %}"></script>
</head>
<body>
  <div class="container">
    <h1 class="username">ユーザー名：{{user.username}}</h1>
      {% if premium_customer %}
      <h4>Your subscription:</h4>
      <div class="card" style="width: 18rem;">
          <h5 class="card-title">
            {{ period_end }}まで継続中</br>（自動更新予定）
          </h5>
      </div>
      {% else %}
      <div class="premium_form">
        <div class="container mt-5">
          <button type="submit" class="btn btn-primary" id="submitBtn">有料会員になる</button>
        </div>
        {% csrf_token %}
        <!-- </form> -->
      </div>
      {% endif %}

    <div class="history-content">
      {% for history in histories %}
        <p>タイトル：{{ history.post.title }}　登録日：{{ history.created_at }}</p>
      {% endfor %}
    </div>
    <div class="like-content">
      {% for like in likes %}
      <p>タイトル：{{ like.post.title }}　登録日：{{ like.created_at }}</p>
      {% endfor %}
    </div>
    <div class="recommend-content">
      {% for post in recommend_posts %}
      <p>タイトル：{{ post.title }}　登録日：{{ post.created_at }}</p>
      {% endfor %}
    </div>
  </div>
</body>
</html>
